{{ header }}{{ column_left }}
<div id="content">
<div class="page-header">
<div class="container-fluid">
<div class="pull-right">
	<button type="submit" form="form-barcode" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
</div>
<h1>{{ heading_title }}</h1>
<ul class="breadcrumb">
{% for breadcrumb in breadcrumbs %}
<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb.text }}</a></li>
{% endfor %}
</ul>
</div>
</div>
<div class="container-fluid">
{% if error_warning %}
<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if success %}
<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
</div>
<div class="panel-body">
	<div class="well">
        <div class="row">
        	<div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ column_product_name }}</label>
                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ column_product_name }}" id="input-name" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-model">{{ column_model }}</label>
                <input type="text" name="filter_model" value="{{ filter_model }}" placeholder="{{ column_model }}" id="input-model" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
            	<div class="form-group" style="margin-top: 20px;">
            		<button type="button" id="button-filter" class="btn btn-primary col-sm-6"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            		<a href="{{ reset }}" id="button-reset" style="margin-left: 2px;" class="btn btn-danger col-sm-5"><i class="fa fa-refresh"></i> {{ button_reset }}</a>
            	</div>
            </div>
        </div>
    </div>
	<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-barcode">
		<div class="table-responsive">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
						<td class="text-left">{% if sort == 'image' %}
						<a href="{{ sort_image }}" class="{{ order|lower }}">{{ column_image }}</a>
						{% else %}
						<a href="{{ sort_image }}">{{ column_image }}</a>
						{% endif %}</td>

						<td class="text-left">{% if sort == 'product_name' %}
						<a href="{{ sort_product_name }}" class="{{ order|lower }}">{{ column_product_name }}</a>
						{% else %}
						<a href="{{ sort_product_name }}">{{ column_product_name }}</a>
						{% endif %}</td>
					
						<td class="text-left">{% if sort == 'model' %}
						<a href="{{ sort_model }}" class="{{ order|lower }}">{{ column_model }}</a>
						{% else %}
						<a href="{{ sort_model }}">{{ column_model }}</a>
						{% endif %}</td>
						
						
						<td class="text-left">{% if sort == 'cost' %}
						<a href="{{ sort_cost }}" class="{{ order|lower }}">{{ column_cost }}</a>
						{% else %}
						<a href="{{ sort_cost }}">{{ column_cost }}</a>
						{% endif %}</td>
						
						<td class="text-left hide">{{ column_product_option }}</td>
				</tr>
			</thead>
			<tbody>
				{% if products %}
				{% for result in products %}
				<tr>
				 <td class="text-center">
			    	<input type="checkbox" name="selected[]" value="{{ result.product_id }}"  />
				</td>
					<td class="text-center">{% if result.image %}
						<img src="{{ result.image }}" alt="{{ result.image }}" class="img-thumbnail" />
						{% else %}
						<span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span>
						{% endif %}</td>
					<td class="text-left">{{ result.name }}</td>
					<td class="text-left">{{ result.model }}</td>
					
					<td class="text-left"><input type="text" name="product[{{ result.product_id }}][cost]" value="{{ result.cost }}" placeholder="{{ column_cost }}" class="form-control upcfields"/></td>

					<td class="text-left hide"> 
						{% if result.option_data %}
							{% for option_data in result.option_data %}
								{% if option_data.type == 'select' or option_data.type == 'radio' or option_data.type == 'checkbox' %}
									{% for option_data_value in option_data.product_option_value %}
										<div class="form-group">
											<label class="control-label">{{ option_data_value.name }} ({{  option_data.type }} )</label>
											<div class="input-group">
												<div class="input-group-addon">{{ column_cost }}</div>
												<input type="text" name="product[{{ option_data.product_id }}][option][{{ option_data_value.product_option_value_id }}][cost]" value="{{ option_data_value.cost }}" plceholder="{{ column_cost }}" class="form-control"/>
											</div>
										</div>
									{% endfor %}
								{% endif %}
							{% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endfor %} 
				{% else %}
				<tr>
					<td class="text-center" colspan="7">{{ text_no_results }}</td>
				</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
</form>
<div class="row">
	<div class="col-sm-6 text-left">{{ pagination }}</div>
	<div class="col-sm-6 text-right">{{ results }}</div>
</div>
</div>
</div>
</div>
</div>

<style>
.upcfields {
    display: block;
    width: 120px;
    height: 35px;
    padding: 8px 13px;
    font-size: 12px;
    line-height: 1.42857;
 }
</style>

<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = 'index.php?route=possetting/cost&user_token={{ user_token }}';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_model = $('input[name=\'filter_model\']').val();

	if (filter_model) {
		url += '&filter_model=' + encodeURIComponent(filter_model);
	}
		
	var filter_quantity = $('input[name=\'filter_quantity\']').val();

	if (filter_quantity) {
		url += '&filter_quantity=' + encodeURIComponent(filter_quantity);
	}

	location = url;
});
//--></script>

 <script type="text/javascript"><!--
$('input[name=\'filter_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_name\']').val(item['label']);
	}
});

$('input[name=\'filter_model\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_model=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_model\']').val(item['label']);
	}
});
//--></script>

{{ footer }}
